.profiles-contaner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.group-divider {
    color: goldenrod;
    border-bottom: goldenrod 1px solid;
}

.profiles-button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
}


@media(min-width: 1130px){
    .profiles-contaner {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .group-divider {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

@media(max-width: 1130px){
    .profiles-contaner {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .group-divider {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media(max-width: 780px){
    .profiles-contaner {
        grid-template-columns: 1fr 1fr;
    }

    .group-divider {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}


