*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}

body {
    background: #025c77 url('/design/body_bg.jpg');

    color: #f7ecd6;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    font-size: 14px;
    letter-spacing: 0.5;

    /*color: #02A0C7;*/
    color:#f7ecd6;
    text-decoration: none;
}

a:hover {
    color: auto;
    opacity: 0.8;
}

/*
    Layout
*/
 .content-wrapper {
    padding-bottom: 25px;
    margin: 0 auto;
    max-width: 1000px;

    position: relative;
    overflow: hidden;
 }

 .constrainer {
    margin: 0 auto;
    max-width: 1000px;

    position: relative;
    overflow: hidden;
 }

/*
    Header
*/

.header {
    position: relative;
    background: #f6f9fb;

    height: 200px;
    overflow: hidden;
    z-index: 1;
}

.header .constrainer {
    min-height: 200px;
}

.header-wave {
    position: absolute;
    bottom: -23px;
    background: url('/design/wave_first.png') repeat-x;

    height: 59px;
    width: 100%;

    z-index: 2;
}

.header-wave-back {
    position: absolute;
    bottom: 0;
    background: url('/design/wave_second.png') repeat-x;

    height: 59px;
    width: 100%;
    z-index: 1;
}

.header-ship {
    position: absolute;
    top: 37px;
    left: 0;
    background: url('/design/ship.png');

    width: 206px;
    height: 150px;

    z-index: 2;
}

.header-logo {
    position: absolute;
    top: 37px;
    left: 317px;
    background: url('/design/logo.png');

    width: 365px;
    height: 72px;
}

.header-sun {
    position: absolute;
    top: 0;
    right: 0;
    background: url('/design/sun.png');

    width: 212px;
    height: 149px;

    z-index: 0;
}

.menubar {
    margin-top: -5px;

    min-height: 78px;
    width: 100%;
    background: url('/design/menubar_bg.png');

    position: relative;
    z-index: 2;
}

.sitenav {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.sitenav li {
    display: inline-block;
}

.sitenav > li > a{
    display: block;
    padding: 0 15px;


    color: #4b2b02;
    font-weight: 600;
    line-height: 72px;
    font-size: 24px;
    font-family: Pirata One;
}

/*
 *  News
 */

.news {
          max-width: 800px;

          color: #f7ecd6;

          font-size: 14px;
          font-family: Open Sans;
      }

      .news:nth-child(odd) .news-content {
        width: 80%;
        float: left;
      }

      .news:nth-child(even) .news-content {
        width: 80%;
        float: right;
      }

      .news p.long {
          overflow: hidden;
          }

      .news a {
        text-decoration: none;
      }

      .news a:hover {
        opacity: 0.8;
      }

      .news-title {
        font-family: Pirata One;
        font-size: 32px;
        font-weight: normal;

        color: #f7ecd6;
      }

      .news:nth-child(odd) .news-symbol {
        /* Flip the image horizontally if needed */
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

        float: right;
        height: 100px;
        
      }

      .news:nth-child(even) .news-symbol {
        float: left;
        height: 100px;
      }

      .news-author, .news-category, .news-edit {
        font-family: Open Sans;

        color: #f7ecd6;
      }

      .news-category {
        font-size: 16px;
      }

      .news-timestamp {
        font-size: 12px;

        float: right;
      }

      .news-divider-line {
        width: 100%;
        height: 1px;
      }

      .news-divider-line line {
        stroke: #f7ecd6;
        stroke-width: 1px;
      }

      .post-footer {
        width: 100%;
        float: left;
      }

/*
 *  All profiles
 */

/* PLACEHOLDER STYLES JUST TO BE ALBE TO SEE THE PICTURES*/

.usergroup_banner {
    font-family: Pirata One;
    font-size: 40px;
    font-weight: normal;

    text-align: center;
}

.n0llegroup_title {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.profile_link {
    display: inline-block;
    text-align: center;

    margin: 20px;

    font-weight: bold;
}

.profile_preview_img {
    background-position: 50%;
    border-radius: 50%;
    border: 2px solid white;

    width: 120px;
    height: 120px;

    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#profilepicture {
    width: 100px;
    height: 100px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-wrapper {
    text-align: center;

    margin-top: 50px;
    }

#profilepic-wrapper {
    margin-left: auto;
    margin-right: auto;

    background-position: 50%;
    border-radius: 50%;
    border: 2px solid white;

    width: 200px;
    height: 200px;

    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.ribbon-content {
    font-family: Pirata One;
    font-size: 48px;
}

.n0llegroup {
    font-size: 20px;
    line-height: 0.5;
}

.profile-divider-line {
    width: 33%;
    height: 1px;
    }

.profile-divider-line line {
    stroke: #f7ecd6;
    stroke-width: 1px;
}

.description {
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}
/*
    Footer
*/

footer {
    background: #F7ECD6;

    padding: 1% 0 1% 0;
    color: #000;
}

footer a {
    color: #000;
}

.footer-wrapper {

    width: 100%;
    height: 25%;

}

.medieteknik-wrapper {
    float:left;
    width: 25%;

    text-align: center;
}

.instagram-wrapper, .snapchat-wrapper, .email-wrapper, .credits-wrapper {
    float: left;
    width: 20%;
}

.medieteknik-logo {
    /*height: 50%;*/
    height: 120px;
}

.medieteknik-title {
    font-family: Raleway;
    font-size: 16px;
}

.instagram-logo, .snapchat-logo {
    width: 40%;
}

.email-title {
    font-size: 24px;
    font-family: Pirata One;

    margin-top: -5%;
}

.links-element {
    font-size: 16px;
    margin: 5%;
}

.links-email .links-element {
    margin: 2%;
}

.divider-line-canvas {
    width: 1%;
    height: 50%;

    float: left;
}

.divider-line {
    stroke: black;
    stroke-width: 1px;
}




/* temp style for login */

.login-wrap {
    text-align: center;
    margin-top: 150px;
}

.login-title {
    font-family: Pirata One;
    font-size: 5em;
    font-weight: normal;
    line-height: 0.5;
}

#username, #password, #search {
    width: 20%;
    height: 20px;
    min-width: 250px;

    margin: 10px 0;
    padding: 5px;

    font-size: 14px;

    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
}

#submit_btn {
    width: 10%;
    height: 20px;
    min-width: 120px;

    margin: 10px 0;
    padding: 16px;

    background: none;
    border: 1px solid white;
    border-radius: 4px;


    font-size: 16px;
    color: white;
    line-height: 0;
}

/* Animation causing a "floating" effect */
/* ------------------------------------- */
.floating{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 4s; 
    -webkit-animation-duration: 4s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(5%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(5%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}
/* ----------- FLOATING --------------- */
