*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

@font-face {
    font-family: Diogenes;
    src: url('/design/DIOGENES.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}

body {
    background: #784800 /*url('/design/body_bg.jpg')*/;

    color: #f7ecd6;
    font-size: 14px;
}

h1,h2,h3 {
  margin-top: 0;
  font-family:Diogenes;
  font-weight: normal;
  text-align: center;

}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    letter-spacing: 0.5;
    /*color: #02A0C7;*/
    color:#f7ecd6;
    text-decoration: none;
}

a:hover {
    color: auto;
    opacity: 0.8;
}

select {
  border: 1px solid white;
  border-radius: 4px;

  font-family: Open Sans;
  font-size: 16px;
  padding: 4px;
}

.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

/*
    Layout
*/
 .content-wrapper {
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 0 auto;
    max-width: 1000px;

    position: relative;
    overflow: hidden;
 }

 .constrainer {
    margin: 0 auto;
    max-width: 1000px;

    position: relative;
    overflow: hidden;
 }

/*
    Header
*/

.header {
    position: relative;
    background: #f6f9fb;

    height: 200px;
    overflow: hidden;
    z-index: 1;
}

.header .constrainer {
    min-height: 200px;
}

.header-wave {
    position: absolute;
    bottom: -23px;
    background: url('/design/wave_first.png') repeat-x;

    height: 59px;
    width: 100%;

    z-index: 2;
}

.header-wave-back {
    position: absolute;
    bottom: 0;
    background: url('/design/wave_second.png') repeat-x;

    height: 59px;
    width: 100%;
    z-index: 1;
}

.header-ship {
    position: absolute;
    top: 37px;
    left: 0;
    background: url('/design/ship.png');

    width: 206px;
    height: 150px;

    z-index: 2;
}

.header-logo {
    position: absolute;
    top: 37px;
    /*left: 317px;*/
    left: 50%;
    margin-left: -182px;
}

.header-sun {
    position: absolute;
    top: 0;
    right: 0;
    background: url('/design/sun.png');

    width: 212px;
    height: 149px;

    z-index: 0;
}

.menubar {
    /*margin-top: -5px;*/

    min-height: 78px;
    width: 100%;
    /*background: url('/design/menubar.png');
    background-size: 100% 78px;*/

    position: relative;
    z-index: 2;
}

@media (min-width:769px) {
    .sitenav {
        display: flex;
        background: url('/design/menubar_bg.png');
    }

    .sitenav > li {
        background: url('/design/menubar.png');
        background-position: center;
        background-repeat: repeat-x;
        height: 150px;
        white-space: nowrap;
    }

    .sitenav > li.menu-padding {
        width: 100%;
    }

    .sitenav > li.menu-left {
        background: url('/design/menubar_left.png');
        min-width: 64px;
        display: inline-block;
        background-repeat: no-repeat;
    }

    .sitenav > li.menu-right {
        background: url('/design/menubar_right.png');
        min-width: 64px;
        display: inline-block;
        background-repeat: no-repeat;
    }
}

@media (max-width:769px) {
    .menubar {
        background: url('/design/menubar_mobile.png');
        background-position: center;
        background-repeat: repeat-x;
        height: 92px;
        white-space: nowrap;
    }
}

.sitenav {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.sitenav li {
    display: inline-block;
}



@media (min-width:769px) {
    .sitenav > li > a {
        display: block;
        padding: 0 12px;

        color: #4b2b02;
        font-weight: 600;
        line-height: 150px;
        font-size: 28px;
        font-family: Diogenes;
    }
}

@media (max-width:769px) {
    .sitenav > li > a {
        color: #4b2b02;
        line-height: 92px;
    }
}

/*
 *  News
 */

 .news-top {
  margin: 0 auto;
 }

.news {
    /*max-width: 800px;*/

    color: #f7ecd6;

    font-size: 14px;
    font-family: Open Sans;

/*    padding-bottom: 10px;
    border-bottom: 1px solid #f7ecd6;*/
}

.news:nth-child(odd) .news-content {
  width: 80%;
  float: left;
}

.news:nth-child(even) .news-content {
    width: 80%;
    float: right;
}

.news p.long {
    overflow: hidden;
    }

.news a {
  text-decoration: none;
}

.news a:hover {
  opacity: 0.8;
}

.important-link {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Diogenes;
  color: #e3af49;

  cursor: pointer;
}

.read-more {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Diogenes;
  color: #e3af49;

  cursor: pointer;
}

.news-title {
  font-family: Diogenes;
  font-size: 40px;
  font-weight: normal;

  color: #f7ecd6;
}

.news-symbol {
  margin-top: 150px;
}

.news:nth-child(odd) .news-symbol {
  /* Flip the image horizontally if needed */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  float: right;
  height: 100px;

}

.news:nth-child(even) .news-symbol {
  float: left;
  height: 100px;
}

.news-author, .news-category, .news-edit {
  font-family: Open Sans;

  color: #f7ecd6;
}

.news-edit {
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #fff;
  background: #e3af49;
  display: inline-block;
  border-radius:4px;
}

.news-category {
  font-size: 16px;
}

.news-writtenby {
  float: left;
}

.news-timestamp {
  float: right;
}

.news-divider-line {
  margin-top: 25px;
  margin-bottom: 25px;

  width: 100%;
  height: 1px;
}

.news-divider-line line {
  stroke: #f7ecd6;
  stroke-width: 1px;
}

.post-footer {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.pagelinks_current
{
    font-weight: bold;
    background-color: #CB9839 !important;
}

.pagelinks
{
    padding: 12px;
    background-color: #e3af49;
    outline:none;
    border:none;
    border-radius: 5px;
    width: 100%;

    color: #fff;
    font-size: 16px;
}

/*
  Admin controls
*/

.admin-controls {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 20px;
}

.admin-control {
  margin: 0 8px;

  font-size: 16px;
}

.adminpanel_title {
  font-family: Diogenes;
  font-size: 40px;
  font-weight: normal;
}

.first {
  color: #e3af49;
}

.input_areas, #news_category {
  border-radius: 4px;

  font-family: Open Sans;
  font-size: 16px;
  padding: 8px;
}

.form-page {
  /*text-align: center;*/
  max-width: 400px;
}

.input_areas {
  margin-bottom: 24px;

  width: 100%;
  border:none;
  outline:none;
}

#news_title {
  margin-top: 24px;
  font-size: 32px;
  color: #f7ecd6;
  background-color: transparent;
  border-bottom: 1px solid;
}

#news_input {
  height: 300px;
}

.news_category_title {
  margin-top: 16px;

  font-family: Diogenes;
  font-size: 28px;
}

#news_category {
  margin-top: 8px;

  background-color: white;
}

.submit_button {
  margin: 24px 0;

  background-color: #f7ecd6;
  border: 2px solid #f7ecd6;
  border-radius: 2px;

  width: 15%;
  min-width: 150px;
  height: 32px;

  font-size: 16px;
  font-weight: bold;

}

.set_profile_pic_div {
  margin-top: 24px;
}

.drag {
  border: 1px solid white;
  border-radius: 4px;

  /*width: 33%;*/
  min-width: 250px;
  height: 100px;

  margin-top: 16px;
  padding: 8px;
}

.file_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label {
  color: black;

  background-color: white;
  border-radius: 4px;

  margin: 8px;
  padding: 8px;

  cursor: pointer;
}

#submit_new_user_btn {
  width: 100%;
  min-width: 200px;
}

.edit_img {
  width: 500px;
}

#previewcontainer {
  text-align: center;
}

#previewcontainer li {
  width: 33%;
  min-width: 350px;

  display: inline-block;
  vertical-align: top;

  margin: 16px;
}

#previewcontainer img{
  width: 100% !important;
  max-width: 400px;

  border: 1px solid white;
}



/*
 *  All profiles
 */

.search-container {
  text-align: center;
  margin-top: 20px;
}

#profiles {
  text-align: center;
}

.usergroup_banner {
  margin-bottom: 0;
  font-family: Diogenes;
  font-size: 40px;
  font-weight: normal;

  text-align: center;
}

.n0llegroup_title {
  margin-top: 15px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.n0llegroup_title h3 {
  color: #e3af49;
  letter-spacing: 0.5px;
  font-size: 30px;
}

.profile_link {
    display: inline-block;
    text-align: center;

    margin: 20px;

    font-weight: bold;
}

.profile_preview_img {
    margin-bottom: 8px;

    background-position: 50%;
    border-radius: 50%;
    border: 2px solid white;

    width: 119px;
    height: 119px;

    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#profilepicture {
    width: 200px;
    height: 200px;

    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 16px;
}

.profile-wrapper {
  position: relative;
}

.prevProfileLink,
.nextProfileLink {
  position: absolute;
  top: 115px;

  font-size: 30px;
}
.profile-column-left {
  width: 50%;
  float: left;
  text-align: center;
}

.profile-column-right {
  width: 50%;
  float: right;
}
.prevProfileLink {
  left: 0;
}
.nextProfileLink {
  right: 0;
}

#profilepic-wrapper {
    margin-left: auto;
    margin-right: auto;

    background-position: 50%;
    border-radius: 50%;
    border: 2px solid white;

    width: 150px;
    height: 150px;

    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
  Single profiles
*/

.bottom-ribbon {
  margin: 5px;
  text-align: center;
}

.ribbon-content {
    font-family: Diogenes;
    font-size: 60px;
}

.n0llegroup {
    font-size: 16px;
    line-height: 0.5;

    margin-bottom: 15px;
}

.mobile-menu-top .n0llegroup {
  color:#0d3c42;
  text-align:center;
}

.profile-divider-line {
    width: 33%;
    min-width: 300px;
    height: 1px;

    margin: 24px 0 16px 0;
}

.profile-divider-line line {
    stroke: #f7ecd6;
    stroke-width: 1px;
}

.description {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    max-width: 60%;
    min-width: 300px;

    font-size: 16px;
    font-style: italic;
}

.rsa-ser-allt {
  font-family: 'Stardos Stencil', cursive;
  font-weight: bold;
  font-size: 40px !important;
  color: #000;
  font-style: normal;
}

.description {
}

.question-wrap {
  margin-top: 15px;
  margin-bottom: 15px;
}

.question-wrap h3 {
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  color: #e3af49;
  text-align: left;
}

.edit_profile_link {
  margin-top: 24px;
  max-width: 300px;
  text-align: center;
  margin:0 auto;
}

.edit_profile_link a {
  font-size: 20px;
  display: inline-block;
}

/*
  Edit profile
*/

.input_description {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: left;
}

#description {
  /*height: 200px;*/
}

#new_password_1 {
  margin-bottom: 16px;
}


/*
  MEDIA
*/

.grid {
  margin-top: 15px;
  margin-bottom: 25px;
  /*border: 1px solid #333;*/
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.filter-wrap {
  display: inline-block;
  margin-right: 25px;
}

.filter-wrap h3 {
  color: #e3af49;
}

.filter-show, .filter-hide {
  margin-bottom: 25px;
  display: none;
}

.button-group {
  display: flex;
}

.button-group a {
}

.button-group-ul {
  width: 100%;
}

.button-group-ul li {
  float: left;
}

.button-group-ul li .is-checked {
    background: #d1bf9b;
}

.button-group-ul li a {
  padding: 15px;
  cursor: pointer;
  display: block;

  background:#F7ECD6;
  color: #000;
}
.filter-item {
  position: relative;
  float: left;
  width: 19%;
  height: 180px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
  text-align: center;

  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
}

.video-play-icon {
  margin-top: 30px;
  width: 100px;
}

/*
    Gallery
*/

.weekbutton, .weekdaybutton {
    text-transform: uppercase;
}

.weekbutton {
    display: inline-block;
    padding: 10px 50px;

    font-size: 24px;

    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s;
}

.weekbutton:hover, .weekbuttonselected {
    background-color: #f7ecd6;
    color: #025c77;
}

.weekdaybutton {
    display: inline-block;
    padding: 5px 28px;

    font-size: 16px;

    border-bottom: 1px solid #025c77;
    transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.weekdaybutton:hover, .weekdaybuttonselected {
    border-color: #f7ecd6;
}


.gallery-divider-line {
    height: 1px;
    width: 85%;
}

.gallery-divider-line line {
    stroke: white;
    stroke-width: 1px;
}



/*
    Schedule
*/

table {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  background: none;
}

td, th {
  margin: 0px;
  padding: 0px;
  width: 12.5%;
}

p {
  margin: 0px;
}
.toprow {
  /*color: #fff;*/
  position: relative !important;
  display: table-row;
}

.toprow th h2{
  font-family: Diogenes;
  font-size: 28px;
  font-weight: normal;
}

.toprow th:after,
.toprow td:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.toprow th:after { padding-bottom: 3px; }
.toprow td:after { padding-right:1px;}
.toprow td.top-day7:after { padding-right: 0}

.toprow th {
  padding-top: 0px;
  position: relative;
  z-index: 2;
}
.toprow td {
  position: relative;
  z-index: 2;
}

#week { display: inline-block;}

.day {
  position: relative;
  empty-cells: show;
  border-right: 1px solid #eee;
}
.day0 { border-left: 1px solid #eee;  }

.day_container, .week_container {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
}
.date {
  font-size: 110%;
  font-weight: bold;
}

/* timmarna */
.timecell {
  height: 40px;
  max-width: 50px;
  vertical-align: top;
  text-align: center;
  margin: 0px;
}

.event {
  position: absolute;
  width: 100%;
  background-color: #f7ecd6;
  color: #000;
  overflow: hidden;
  font-size: 0.8em;
  line-height: 135%;
  cursor: pointer;
  box-sizing: border-box;
}
.event p {
  padding: 0 5px;
  -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.content_container .button {
  margin-bottom: 0;
  cursor: pointer;
}

.button, .button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out ;
  -ms-transition: all 0.3s ease-in-out;
}

#button_week_back, #button_week_forward {
  cursor: pointer;
  /* Disable text highlighting */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#button_week_back {
  float: left;
  margin-left: 35%;
}
#button_week_forward {
  float: right;
  margin-right: 35%;
}
#black_overlay {
  /*display: none;*/
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  cursor: pointer;
  z-index: -1;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
#popup_container2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 99999;

}
#popup_container2:before {
  content: '';
  display: inline-block;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
#eventpopup {
  /*display: none;*/
  height: auto;
  width: 400px;
  max-width: 70%;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  background: #f7ecd6;
  border-radius:5px;
  color: #fff;
  z-index:9999999;
  box-sizing: border-box;
}

#eventpopup h3 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 28px;
  color: black;
  margin-top: 0;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.swiper-slide {
  background-color: none;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.schedule_date {
  font-family: Sunday;
  font-size: 115%;
  margin-top: 3px;
  margin-bottom: 10px;
  text-align: center;
}
.event_mobile {
  width: 100%;
  margin: 0 0 10px;
  padding: 8px;
  background-color: #F7ECD6;
  color: #222;
  border-radius:2px;
  box-sizing: border-box;
  /*overflow: scroll;*/
}
.event-summary {
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0px;
  margin-bottom: 5px;
  /*
  text-transform: uppercase; */
}
.event-time {
  color: black;
  font-size: 20px;
}
.event-place {
  color: black;
  font-size: 16px;
  font-style: italic;
}
.schedule-icon {
  margin-right: 4px;
}
.schedule-location {
  margin-left: 8px;
}

.timerow {
  border: 1px dashed white;
}


/*
    Footer
*/

.footer-image {
  background: url('/design/footer_image.png');
  background-position:right;
  height: 250px;
  width: 100%;
}

footer {
    background-color: #e6e4d8;
    color: black;

    /*padding: 1% 0 1% 0;*/

    width: 100%;
    text-align: center;

    border-style: solid;
    border-width: 85px 112px 0px 111px;
    -moz-border-image: url("/design/footer_header_border.png") 85 112 0 111 stretch repeat;
    -webkit-border-image: url("/design/footer_header_border.png") 85 112 0 111 stretch repeat;
    -o-border-image: url("/design/footer_header_border.png") 85 112 0 111 stretch repeat;
    border-image: url("/design/footer_header_border.png") 85 112 0 111 fill stretch repeat;

}

@media (max-width: 400px) {
    footer {
        border-width: 42px 56px 0px 56px !important;
    }
}

footer a {
    color: black;
}

.footer-column-left {
    float:left;
    width: 60%;
    min-width: 175px;

    border-right: 1px solid #000;
    margin-right: 3%;
    text-align: right;
}

.footer-column-right {
  margin-top: 10px;
    float:right;
    width: 17%;
}

.instagram-wrapper, .snapchat-wrapper, .email-wrapper, .credits-wrapper {
    float: left;
    width: 20%;
    min-width: 150px;
}

.snapchat-logo {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-logo-wrap {
    width: 100px;
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 25px;

    vertical-align: middle;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-logo-wrap {
        width: 150px !important;
        margin-left: auto;
        margin-right: auto !important;
    }
}

.footer-logo {
    width: 100px;
}

.comviq,
.mtg {
  width: 85px;
}

.ericsson {
  width: 66px;
}

.chas {
  width: 88px;
}

.medieteknik-title {
    font-family: Raleway;
    font-size: 16px;
}

.instagram-logo, .snapchat-logo {
    width: 40%;
    min-width: 100px;
    max-width: 200px;
}

.email-title {
    font-size: 24px;
    font-family: Diogenes;
}

.links-element {
    font-size: 16px;
    margin: 5%;
}

.links-email .links-element {
    margin: 2%;
}

.divider-line-canvas {
    width: 1%;
    height: 50%;

    float: left;
}

.divider-line {
    stroke: black;
    stroke-width: 1px;
}




/* temp style for login */

.login-wrap {
    text-align: center;
    margin-top: 150px;
}

.login-title {
    font-family: Diogenes;
    font-size: 5em;
    font-weight: normal;
    line-height: 0.5;
}

#username, #password, #search {
    width: 40%;
    min-width: 250px;

    margin: 10px 0;
    padding: 10px;

    font-size: 16px;

    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
}

#submit_btn {
    width: 40%;
    height: 40px;
    min-width: 250px;

    margin: 10px 0;
    padding: 16px;

    background: none;
    border: 1px solid white;
    border-radius: 4px;


    font-size: 16px;
    color: white;
    line-height: 0;

    cursor: pointer;
}

/*
    Bländaren
*/

#deleteblandarenbutton {
  cursor: pointer;
}

.deleteblandare {
  background-color: red;
  border: 1px solid white;
  border-radius: 4px;

  padding: 8px;

  font-size: 16px;
  font-weight: bold;
}

#blandar_container {
    text-align: center;
 }

 .blandarDiv_container {
    text-align: center;
    vertical-align: top;

    max-width: 33%;
    display: inline-block;
    margin: 0 48px;
 }

  .blandartitle {
    font-family: Diogenes;
    font-size: 32px;
    font-weight: normal;
  }

  .blandarthumb {
    max-width: 100%;
    border: 1px solid #f7ecd6;
  }

  #submit_blandare {
    width: 25%;
    min-width: 200px;
  }


.button-primary {
  padding: 12px;
  background: #e3af49;
  outline:none;
  border:none;
  border-radius: 5px;
  width: 100%;

  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Animation causing a "floating" effect */
/* ------------------------------------- */
.floating{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 4s;
    -webkit-animation-duration: 4s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(5%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
/* ----------- FLOATING --------------- */


/* Mobile menu */

.show-nav .mobile-nav {
  visibility: visible;
  opacity: 1;
}

.mobile-menu-top {
  padding-top: 32px;
  /*padding-bottom: 16px;*/

  background: url('/design/mobile-fader.png') no-repeat;
  background-position:right 0 top;
}

.mobile-menu-bottom {
  /*padding-top: 20px;
  margin-top: -3px;
  background: url('/design/mobile-fader.png') no-repeat;
  background-position: 0 0;*/
}

.name-wrap {
  margin-bottom: 50px;
}

.mobile-menu-wrapper .ribbon-content {
  font-size: 32px;
  font-weight: bold;

  color: #312f2b;
}


.mobile-menu-wrapper .profile-divider-line {
  width: 220px;
  min-width: 0;

  margin: 8px;
}

.mobile-item-wrapper {
  margin: 16px;
}

.mobile-menu-wrapper #edit_profile,
.mobile-menu-wrapper
.show-all-profiles,
.mobile-blandaren,
.mobile-logout {
  font-size: 22px;
  font-weight: normal;
}

.mobile-logo-wrap {
  display: none;
}

.mobile-logo {
  height: 50px;
  padding-top: 5px;
  box-sizing: content-box;
}

.mobilenav {
  margin-top: 5px;
  text-align: left;
}

.mobilenav li {
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.mobilenav li a  {
  font-size: 30px;
  font-family: Diogenes;
  color: #0d3c42;
}

.no-display {
  display: none;
}

.logout-button a{
  color: #B71C1C !important;
}

/* BASECAMP */
.basecamp-description {
  margin-bottom: 15px;
}

#map {
  height: 400px;
  border:2px solid black;
}

.game-canvas {
  border:3px solid #0d3c42;
  margin:0 auto;
  width:300px;
  box-sizing: content-box;
}

.deleteimage,
.deletevideo {
  background: red;
  color: #fff;
}

.deletestuff,
.deletestuff_video {
  background: red;
  padding: 15px;
  margin-bottom: 25px;
  cursor:pointer;
  display: inline-block;
  margin-right: 15px;
}

.hidden {
  display: none;
}
