
@media all and (max-width: 1024px) {
	.content-wrapper {
		padding: 10px;
	}


	.filter-item {
		width: 23%;
	}
}

@media all and (max-width: 1000px) {
  .complete_day {
    /*display: none;*/
  }
  .event-summary {
    font-size: 0.9em;
  }
}


@media all and (max-width: 960px) {

}

/* This is the size where we switch to mobile menu */
@media all and (max-width: 768px) {
	.header-ship {
		display: none;
	}

	.header {
		height: 135px;
		text-align: center;
	}

	.header-logo {
		position: relative;
		top: auto;
		left: auto;
		padding-top: 20px;
		z-index: 3;
	}

	.header-logo img {
		width: 200px;
	}

	.header-sun {
		top: -70px;
		right: -112px;
	}

	.header-mini-menu {
		position: absolute;
		left: 25px;
		top: 25px;

		z-index: 10;
	}

	/* News */

	.news {
		/*text-align: center;*/

		font-size: 16px !important;
	}

	.news-content {
		width: 100% !important;
	}

	.news-timestamp,
	.news-writtenby {
		float: none;
	}

	.news-symbol_wrap {
		text-align: center;
	}

	.news-symbol {
		float: none !important;
		margin-top: 0;
	}

	.post-footer {
		text-align: left;
	}
	/* Footer */

	.medieteknik-wrapper, .instagram-wrapper, .snapchat-wrapper, .email-wrapper {
		width: 100% !important;
		background-color: #F7ECD6;

		padding-top: 20px;
	}

	.medieteknik-logo {
		height: 80%;
	}

	.instagram-logo, .snapchat-logo {
		margin-left: -10%;
	}

	.medieteknik-title {
		font-size: 24px;
	}

	.divider-line-canvas {
		display: none;
	}

	.email-title {
		font-size: 40px !important;
	}

	.links-element {
		font-size: 20px !important;
	}

	/* Bländaren */

	.blandarDiv_container {
		max-width: 40% !important;
		margin: 0 16px !important;
	}

	.blandartitle {
		font-size: 28px !important;

		margin: 16px 0;
	}

	/* Profiles */

	.profile_preview_img {
		width: 150px;
		height: 150px;
	}

	.ribbon-content {
		font-size: 37px;
	}


	/* Schedule */

	#button_week_back {
		margin-left: 20%;
	}

	#button_week_forward {
		margin-right: 20%;
	}

	/* Mobile menu */
	.header {
		display: none;
	}
	.sitenav {
		position: absolute;
		top: 0;
		left: 0;
	}
	.sitenav li {
		display: none;
	}
	.mobile-logo-wrap {
		margin-top: 23px;
	  display: inline-block;
	}

	.center-mobile {
		text-align: center;
	}


	.menu-hamburger {
		display: inline-block !important;
	}

	.nav-wrapper li a {
		font-size: 30px !important;
	}

}


@media all and (max-width: 600px) {
	.content_container {
	padding: 20px 8px !important;
	}

	.login-title {
	font-size: 4em;
	}

	.date {
	font-size: 95%;
	}
	.filter-item {
		width: 30%;
	}

	.video-play-icon {
	margin-top: 24px;
	width: 82px;
	}

	.filter-wrap {
		width: 100%;
	}

	.button-group-ul li {
		float: none;
		text-align: center;
	}

	.filters {
		display: none;
	}

	.filter-show {
		display: block;
	}



}

@media all and (max-width: 410px) { /* Medium mobile screens */

	/* General */

	.filter-item {
		width: 47%;
	}
}

@media all and (max-width: 380px) { /* Medium mobile screens */

	/* General */

	.input_areas {
		min-width: 350px !important;
	}


	.mobile-logo {
	  width: 160px;
	}

}


@media all and (max-width: 375px) { /* Small mobile screens */

	/* Content wrapper */

/*	.content-wrapper {
		max-width: 320px !important;
		overflow: scroll;
	}*/

	/* Schedule */

	table {
		max-width: 320px;
	}

	/* Mobile menu */


	.mobile-menu-top {
		background-position:right 0 bottom -48px;
	}

	.name-wrap {
		margin-bottom: 32px;
	}

	.mobile-menu-wrapper #profilepic-wrapper {
	  width: 100px;
	  height: 100px;
	}


	.mobile-menu-wrapper .ribbon-content {
	  font-size: 28px;
	  font-weight: normal;
	}

	.mobile-menu-wrapper .profile-divider-line {
	  width: 175px;
	  min-width: 0;

	  margin: 8px;
	}

	.mobile-item-wrapper {
	  margin: 16px;
	}

	.mobile-menu-wrapper #edit_profile, .mobile-menu-wrapper .show-all-profiles, .mobile-blandaren, .mobile-logout {
	  font-size: 20px;
	  font-weight: normal;
	}


	.mobilenav li a{
		font-size: 27px;
	}
	/* News */

	.news-title {
		font-size: 32px;
	}

	/* Footer */

	.email-title {
		font-size: 28px;
	}

	/* Profiles */

	.profile_link {
		margin: 12px;
	}

	.profile_preview_img {
		width: 120px;
		height: 120px;
	}

	/* Bländaren */

	.blandarDiv_container {
		max-width: 33% !important;
	}

	.blandartitle {
		font-size: 24px !important;
	}

	/* General */

	.input_areas {
		min-width: 290px !important;
	}

	.filter-item {
		width: 46%;
	}
}

/*
* HELPERS
*/

@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
}
