.mobile-header,
.mobile-nav,
.header-mini-menu {
	/*display: none;*/
	visibility: hidden;
}

@media all and (max-width: 1024px) {
	.content-wrapper {
		padding: 15px;
	}
}


@media all and (max-width: 960px) {

}

/* This is the size where we switch to mobile menu */
@media all and (max-width: 768px) {
	.header-ship {
		display: none;
	}

	.header {
		height: 135px;
		text-align: center;
	}
	
	.header-logo {
		position: relative;
		top: auto;
		left: auto;
		padding-top: 20px;
		z-index: 3;
	}

	.header-logo img {
		width: 200px;
	}
	
	.header-sun {
		top: -70px;
		right: -112px;
	}

	.header-mini-menu {
		position: absolute;
		left: 25px;
		top: 25px;

		z-index: 10;
	}

	/* News */

	.news {
		/*text-align: center;*/

		font-size: 16px !important;
	}

	.news-content {
		width: 100% !important;
	}

	.news-timestamp {
		float: none;
	}

	.news-symbol {
		float: none !important;
	}

	/* Footer */

	.medieteknik-wrapper, .instagram-wrapper, .snapchat-wrapper, .email-wrapper {
		width: 100% !important;
		background-color: #F7ECD6;

		padding-top: 20px;
	}

	.medieteknik-logo {
		height: 80%;
	}

	.instagram-logo, .snapchat-logo {
		margin-left: -10%;
	}

	.medieteknik-title {
		font-size: 24px;
	}

	.divider-line-canvas {
		display: none;
	}

	.email-title {
		font-size: 40px !important;
	}

	.links-element {
		font-size: 20px !important;
	}

	/* Bländaren */

	.blandarDiv_container {
		max-width: 40% !important;
		margin: 0 16px !important;
	}

	.blandartitle {
		font-size: 28px !important;

		margin: 16px 0;
	}

	/* Profiles */

	.profile_preview_img {
		width: 150px;
		height: 150px;
	}

	/* Schedule */

	#button_week_back {
		margin-left: 20%;
	}

	#button_week_forward {
		margin-right: 20%;
	}

	/* Mobile menu */

	.menu-hamburger {
		display: inline-block !important;
	}

	.menu-adminpanel, .menu-profiles, .menu-blandaren, .menu-logout {
		display: none !important;
	}

	.nav-wrapper li a {
		font-size: 24px !important;
	}

}

@media (max-width: 380px) { /* Medium mobile screens */

	/* General */

	.input_areas {
		min-width: 350px !important;
	}
}


@media (max-width: 375px) { /* Small mobile screens */

	/* Content wrapper */

/*	.content-wrapper {
		max-width: 320px !important;
		overflow: scroll;
	}*/

	/* Schedule */

	table {
		max-width: 320px;
	}

	/* Mobile menu */

	.nav-wrapper li a {
		font-size: 20px !important;
	}

	.show-nav .push-wrap {
	    -webkit-transform: translate(225px, 0);
	    -moz-transform: translate(225px, 0);
	    -ms-transform: translate(225px, 0);
	    -o-transform: translate(225px, 0);
	    transform: translate(225px, 0);

	    -webkit-transform: translate3d(225px, 0, 0);
	    -moz-transform: translate3d(225px, 0, 0);
	    -ms-transform: translate3d(225px, 0, 0);
	    -o-transform: translate3d(225px, 0, 0);
	    transform: translate3d(225px, 0, 0);
	}

	/* Positions the nav fixed below the push wrapper */
	.mobile-nav {
	    width: 225px;
	    height: 100%;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 100;

	    text-align: center;

	    opacity: 0;
	    transition: visibility 0.2s, opacity 0.2s ease-out;
	}

	.show-nav .mobile-nav {
	  visibility: visible;
	  opacity: 1;
	}

	.mobile-menu-wrapper {
	  width: 225px;
	  height: 100%;

	  padding: 16px;

	  /*border-right: 2px solid #f7ecd6;*/

	}

	.mobile-menu-wrapper #profilepic-wrapper {
	  width: 150px;
	  height: 150px;
	}

	.mobile-menu-wrapper .ribbon-content {
	  font-size: 28px;
	  font-weight: normal;
	}

	.mobile-menu-wrapper .n0llegroup {
	  margin: 16px;
	}

	.mobile-menu-wrapper .profile-divider-line {
	  width: 175px;
	  min-width: 0;

	  margin: 8px;
	}

	.mobile-item-wrapper {
	  margin: 16px;
	}

	.mobile-menu-wrapper #edit_profile, .mobile-menu-wrapper .show-all-profiles, .mobile-blandaren, .mobile-logout {
	  font-size: 20px;
	  font-weight: normal;
	}

	/* News */

	.news-title {
		font-size: 32px;
	}

	/* Footer */

	.email-title {
		font-size: 28px;
	}

	/* Profiles */

	.profile_link {
		margin: 12px;
	}

	.profile_preview_img {
		width: 120px;
		height: 120px;
	}

	/* Bländaren */

	.blandarDiv_container {
		max-width: 33% !important;
	}

	.blandartitle {
		font-size: 24px !important;
	}

	/* General */

	.input_areas {
		min-width: 290px !important;
	}

}

@media (max-width: 1000px) {
  .complete_day {
    /*display: none;*/
  }
  .event-summary {
    font-size: 0.9em;
  }


}

@media (max-width: 600px) {
	.content_container {
	padding: 20px 8px !important;
	}

	.login-title {
	font-size: 4em;
	}

	.date {
	font-size: 95%;
	}
	.filter-item {
	width: 150px;
	height: 150px;
	}

	.video-play-icon {
	margin-top: 24px;
	width: 82px;
	}

	.filter-wrap {
		width: 100%;
	}

	.button-group-ul li {
		float: none;
		text-align: center;
	}

	.filter-show {
		display: block;
	}


}






/*
* HELPERS
*/

@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
}
