.news-contaner {
    background: goldenrod;
    padding: 10px;
    margin: 20px;
}

.news-heder {
    background: white;
    margin-bottom: 2%;
}

.news-text {
    background: white;
    padding: 2%
}

.news-text img {
    width: 96%;
    padding: 2%
}

.ql-video {
    width: 96%;
    height: 100%;
    padding: 2%
}
