.subtitle {
    color: aliceblue;
    font-size: 150%;
    margin: 3%;
}

.hjarta_lada {
    width: fit-content;
    margin: auto;
    transition: transform .2s; /* Animation */
}

.hjarta_lada:hover {
    transform: scale(1.2);
}