.checkbox {
    background: none;
    border: none;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    height: 30px;
    margin: 10px;
    display: inline-flex;
    flex-direction: row;
    cursor: pointer;
}

.delete-media {
    background: red;
}

.checkbox-type-contaner {
    transform-origin: top center;
    background: #eff;
    margin: 20px 20px 0px 20px;
    transform: scaley(0);
    transition: all 0.01s;
}

.checkbox-type-contaner-open {
    padding: 10px;
    transform: scaley(1);
}

.checkbox-contaner {
    z-index: -1;
    /*padding: 20px;*/
    background-image: url('http://www.photos-public-domain.com/wp-content/uploads/2012/05/ivory-off-white-paper-texture.jpg');
    background-size: fill;
    background: #b98d44;
    border-radius: 20px 20px 5px 50px; 
    padding-bottom: 0px; 
    transition: all 0.2s ease;
    /*position: fixed;
    width: 100%;*/
}

.media-button-contaner {
    background: #CBAF4A;
    border-radius: 20px 20px 5px 5px; 
    padding: 20px;
}


.type-checkbox-contaner {
    width: 100%;
    text-align: left;
}

.type-checkbox-text {
    text-align: left;
    border-bottom: #000 1px solid;
}

.media-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100% - 20px;
    margin: 10px 10px;
}

.media-button {
    padding: 5px;
    border: none;
    border-bottom: #000 1px solid;
    background: none;
    width: 100%;
    text-align: left;
    /*margin-bottom: 10px;*/
    cursor: pointer;
}

.media-img {
    z-index: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    background-size: cover;
    background-position: center;
    min-height: 100px;
    
}

.checkbox-box {
    width: 30px;
    height: 30px;
}

.the-media {
    transition: transform .2s;
}

.the-media:hover {
    transform: scale(1.15);
}

.media-divider {
    color: goldenrod;
    border-bottom: goldenrod 1px solid;
}


@media(min-width: 1130px){
    .media-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .media-divider {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

@media(max-width: 1130px){
    .media-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .media-divider {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media(max-width: 780px){
    .media-grid {
        grid-template-columns: 1fr 1fr;
    }

    .media-divider {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .checkbox {
        font-size: 17px;
        height: 20px;
    }

    .checkbox-box {
        width: 20px;
        height: 20px;
    }
    
}