<h1 class="title">Admin</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/skapa_nyhet" data-navigo>Skapa nytt inlägg</a>
    <a class="list-group-item list-group-item-action" href="/admin/hantera_nyheter" data-navigo>Hantera inlägg</a>
</div>
<br />
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/upload" data-navigo>Ladda upp ny bild/video</a>
    <a class="list-group-item list-group-item-action" href="/admin/event" data-navigo>Hantera event</a>
</div>
<br />
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/upload_blandaren" data-navigo>Ladda upp ny Bländaren</a>
</div>
<br />
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/skapa_anvandare" data-navigo>Skapa ny användare</a>
    <a class="list-group-item list-group-item-action" href="/admin/hantera_anvandare" data-navigo>Hantera användare</a>
    <a class="list-group-item list-group-item-action" href="/admin/hantera_n0llegrupper" data-navigo>Hantera nØllegrupper</a>
    <a class="list-group-item list-group-item-action" href="/admin/hantera_typer" data-navigo>Hantera användartyper</a>
</div>
