<div class="map-container" style="height: 500px; width: inherit;"> <!--Style-tagsen måste vara där  -->
    <div id="map" style="height: 100%; width: 100%;"></div>
</div>

<script>
    /*$(document).ready(() => {
        initMap();
    });*/
    function initMap() {
        console.log("initMap() was called")
        var pos = { lat: 59.347239, lng: 18.073910 };
        var mapOptions = {
            center: pos,
            zoom: 17
        };

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var drag = false;

        var contentString = "Här är basecamp!"

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: pos,
            draggable: drag,
            map: map,
            title: "Här är basecamp!"
        });
        infowindow.open(map, marker);

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-0HQfVbXdEjF52aCm6rK9UMIrWglIskk&callback=initMap" async defer></script>