<script>
    PDFJS.workerSrc = "/static/js/pdf.worker.js";
    
    var allDocuments;
    var pdfWorker;
    var API_URL = "/api/blandaren"
    var DOC_URL = "/static/blandaren/"

    $(document).ready(function () {
        pdfWorker = new PDFJS.PDFWorker();
        console.log(pdfWorker);
        fetchData();
    })

    fetchData = async () => {
        allDocuments = await fetch(API_URL).then((response) => response.json())
            .then((jsonData) => { return jsonData });
        updateDocumentList(allDocuments);
    }

    updateDocumentList = function (documentArray) {
        var documentContainer = $(".document-container");
        documentContainer.empty();
        for (var i = 0; i < documentArray.length; i++) {
            var docObj = documentArray[i];
            pdf_file = docObj.filename;
            PDFJS.getDocument({url:DOC_URL + pdf_file, worker: pdfWorker}).then(function (pdf) {
                pdf.getPage(1).then(function (page) {
                    var viewport = page.getViewport(0.5);
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext('2d');
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;
                    var renderContext = {
                        canvasContext: ctx,
                        viewport: viewport
                    };
                    console.log("renderar..")
                    page.render(renderContext).promise.then(() => {
                        // Draw behind current content
                        ctx.globalCompositeOperation = "destination-over";
                        // Set background color
                        ctx.fillStyle = "#fff";
                        // Draw on entire canvas
                        ctx.fillRect(0, 0, canvas.width, canvas.height);
                        // Create image from canvas
                        var img_src = canvas.toDataURL();
                        canvas.remove();
                        var $img = $("<img>")
                            .attr("src", img_src);

                        var file_details = {
                            "name": pdf_file,
                            "pages": pdf.pdfInfo.numPages
                        };
                        $img.click(() => {
                            window.location = DOC_URL + pdf_file;
                        })

                        /*var $thumb = $("<div>")
                            .attr("class", "thumb")
                            .append($img)
                            .click(() => {
                                window.location = DOC_URL + pdf_file
                            });*/
                        documentContainer.append($img)
                        //canvas.remove();
                    })
                })
            })
        }
    }
</script>
<h1 class="title">Bländaren</h1>
<div class="document-container">

</div>
