<a href="/admin" data-navigo>Tillbaka</a>
<br />
<h1 class="title">Skapa användare</h1>
<form class="form-group" onsubmit="event.preventDefault(); submitNewUser();">
    <label for="input_name">Namn</label>
    <input type="text" class="form-control" placeholder="Namn" id="input_name" />
    <br />
    <label for="input_type_select">Användartyp</label>
    <select class="form-control" id="input_type_select">
        {{#each user_types}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <br />
    <label for="input_type_select">nØllegrupp</label>
    <select class="form-control" id="input_n0llegroup_select">
        <option value="-1">Ingen</option>
        {{#each n0llegroups}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <br />
    <input type="submit" class="btn btn-primary" value="Skapa ny användare" />
</form>

<div id="createdUserAlert" class="alert alert-success" role="alert" style="display: none;"></div>

<script>
function submitNewUser() {
    var name = $("#input_name").val();
    var username = $("#input_name").val().toLowerCase();

    if ($("#input_type_select option:selected").text() == "nØllan") {
        name += "-nØllan";
        username += "-n0llan";
    }

    var data = {
        name: name,
        username: username,
        password: "potatis",
        type_id: $("#input_type_select").val()
    };

    if ($("#input_n0llegroup_select").val() != -1)
    {
        data["n0llegroup_id"] = $("#input_n0llegroup_select").val();
    }

    Frack.User.New(data).then(function(res) {
        console.log(res.data);
        $("#createdUserAlert").show();
        $("#createdUserAlert").text("Skapade användare " + username + "!");
        $("#input_name").val("");
    });
}
</script>
