<a href="/admin" data-navigo>Tillbaka</a>
<br />
<h1 class="title">Hantera event</h1>
<ul class="list-group" id="type_list">
{{#each events}}
    <li class="list-group-item" id="type_{{id}}">
        <div class="d-flex w-100 justify-content-between">
            <label for="input_name_{{id}}" class="inline_type_edit_label">Namn: </label>
            <input type="text" id="input_name_{{id}}" class="inline_type_edit_input" value="{{name}}" />
        </div>
        <br />
        <div class="d-flex w-100 justify-content-between">
            <button type="button" class="btn btn-primary btn-sm" onclick="saveType({{id}});">Spara</button>
            <button type="button" class="btn btn-secondary btn-sm" onclick="removeType({{id}});">Ta bort</button>
        </div>
        <div id="input_alert_success_{{id}}" class="alert alert-success" role="alert" style="margin-top: 5px;display:none;"></div>
    </li>
{{/each}}
</ul>
<br />
<h4>Nytt event</h4>
<form class="form-control">
    <label for="new_type_name">Namn: </label>
    <input type="text" id="new_type_name" class="form-control" />
    <br />
    <input type="submit" class="btn btn-primary" onclick="event.preventDefault(); newType();" value="Skapa" />
</form>
<br />
<div id="new_alert_success" class="alert alert-success" role="alert" style="margin-top: 5px;display:none;"></div>


<style>
    .inline_type_edit_label {
        margin-bottom: 0;
    }

    .inline_type_edit_input {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #afafaf;
    }
</style>

<script>

function newType() {
    var name = $("#new_type_name").val();

    Frack.Event.New({name: name}).then(function (res) {
        $("#new_alert_success").show();
        $("#new_alert_success").text("Skapade nytt event!");

        var id = res.data.type_id;

        $("#type_list").append(`

            <li class="list-group-item" id="type_${id}">
                <div class="d-flex w-100 justify-content-between">
                    <label for="input_name_${id}" class="inline_type_edit_label">Namn: </label>
                    <input type="text" id="input_name_${id}" class="inline_type_edit_input" value="${name}" />
                </div>
                <br />
                <div class="d-flex w-100 justify-content-between">
                    <button type="button" class="btn btn-primary btn-sm" onclick="saveType(${id});">Spara</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="removeType(${id});">Ta bort</button>
                </div>
                <div id="input_alert_success_${id}" class="alert alert-success" role="alert" style="margin-top: 5px;display:none;"></div>
            </li>

            `);
    });
}

function saveType(id) {
    var data = {
        name: $("#input_name_" + id).val()
    };

    Frack.Event.Update(id, data).then(function (res) {
        $("#input_alert_success_" + id).show();
        $("#input_alert_success_" + id).text("Ändringar är sparade!");
    });
}

function removeType(id) {
    if (confirm("Är du säker på att du vill ta bort eventet? Ifall det finns bilder/videor kvar på detta event så kan saker gå sönder."))
    {
        Frack.Event.Delete(id).then(function(res) {
            $("#type_" + id).remove();
        });
    }
}

</script>
