<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Mottagningen</title>
<meta name="viewport" content="width=320, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/apple-touch-icon-114x114-precomposed.png"/>
<link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div id="main">
        <div class="holder">
               <div class="holderImage">
               <img src="static/images/welcomeRed.png" width="200" height="200" />
           </div>
           <div class="holderHeadline">
           Välkommen till Medieteknik
           </div>
           <div class="holderBread">
Hej!
<br /><br />
Vad roligt att du ska börja läsa Medieteknik på KTH. Vi på Sektionen för Medieteknik vill välkomna dig till programmet på bästa sätt och det gör vi med Mottagningen. Mottagningen anordnas av äldre studenter på sektionen tillsammans med Tekniska Högskolans Studentkår (THS) och finns för att du ska få en så bra start på dina högskolestudier som möjligt. Mottagningen ger dig en möjlighet att lära känna både dina klasskamrater och äldre studenter, samt lära dig en massa om både sektionen och skolan, under en mängd roliga aktiviteter.
<br /><br />
Alla mottagningsaktiviteter är helt frivilliga men se till att du inte missar uppropet den 13e augusti för det är då allt börjar. Om du inte har möjlighet att vara med under uppropet och vill ansluta senare, eller om du har några frågor, kan du höra av dig till oss på <a href="mailto:oph@medieteknik.com">oph@medieteknik.com</a> så hjälper vi dig.
<br /><br />
På den här sidan kan du redan nu se schemat för Mottagningens första aktiviteter och så småningom kommer du även kunna hitta bilder, filmer och mycket mer skoj.
<br /><br />
Ha en fortsatt trevlig sommar, vi ser fram emot att träffa dig!
<br /><br />
Hälsningar,
<br />
Lilo, Melissa och Sofia
<br />
Mottagningsansvariga
           </div>
          </div>
           <div class="holder">
               <div class="holderImage">
               <img src="static/images/schedule.png" width="200" height="200" />
           </div>
           <div class="holderHeadline">
           Håll dig uppdaterad
           </div>
           <div class="holderBread">
Självklart vill vi att du ska kunna vara med på så många mottagningsaktiviteter som möjligt. Därför får du redan nu tillgång till det <a href="https://calendar.google.com/calendar/embed?src=67o81suoslm4i02r6kr9vldek4%40group.calendar.google.com&ctz=Europe%2FStockholm" id="schema">preliminära schemat</a> för att kunna planera inför din start på KTH.
<br /><br />
Stödjer din kalender iCal kan du lägga till schemat direkt genom att klicka <a href="https://calendar.google.com/calendar/ical/67o81suoslm4i02r6kr9vldek4%40group.calendar.google.com/public/basic.ics" id="schema">här</a>. Tänk på att alla datum inte är helt satta och kalendern kan komma att uppdateras.
           </div>
          </div>
       <div class="holder">
               <div class="holderImage">
               <img src="static/images/contact.png" width="200" height="200" />
           </div>
           <div class="holderHeadline">
           Har du några frågor?
           </div>
           <div class="holderBread">
Sitt inte där och undra! Vi svarar på alla frågor och funderingar du har som rör mottagningen och dess schema.
<br />
Skicka ett mail till <a href="mailto:oph@medieteknik.com">oph@medieteknik.com</a>!
           </div>
          </div>
       <div id="footer">
               <div id="footerHolder">
                <div id="logo">
                    <a href="http://www.medieteknik.com/">
                          <img src="static/images/logo.png" width="41" height="50" />
                       </a>
                  </div>
                  <div id="footerInfo">
                  </div>
           </div>
       </div>
    </div>
</body>
</html>
