<h1 class="title">Idag</h1>
<h4 class="text-center">{{todayStr}}</h4>
<div class="newsitem">
    <h2>På schemat</h2>
    <p>{{dailyMessage}}</p>

    <div class="simple-schedule">
        {{#each events}}
        <div class="simple-schedule-item">
            <div class="simple-schedule-time">{{formatTime start.dateTime}} - {{formatTime end.dateTime}}</div>
            <div class="simple-schedule-detail"><p class="simple-schedule-title">{{summary}}</p><p class="simple-schedule-location">{{location}}</p></div>
        </div>
        {{/each}}
    </div>
</div>

<div class="newsitem">
    <h2>Senaste nytt</h2>
    <br />
    <a href="/nyheter/{{latestNews.id}}" data-navigo><h3 class="news-title">{{latestNews.headline}}</h2></a>
    <p class="news-subtitle">Av {{latestNews.author.type.name}}-{{latestNews.author.name}}<br />{{formatDate latestNews.timestamp}}</p>
</div>

{{#if latestMedia.length}}
<div class="newsitem">
    <h2>Nya bilder</h2>
    <a href="/media" data-navigo>
    <div class="simple-media-viewer">
        {{#each latestMedia}}
            <img src="{{thumbnail}}" class="simple-media-thumbnail" />
        {{/each}}
    </div>
    </a>
</div>
{{/if}}

<style>
    .simple-schedule {
        width: 100%;
        background-color: white;
        box-shadow: 0px 0px 26px rgba(0,0,0,0.1);
    }

    .simple-schedule-item {
        border: 1px solid lightgray;

        display: flex;
        flex-direction: row;
    }

    .simple-media-viewer {
        display: flex;
        flex-flow: wrap;
    }

    .simple-media-thumbnail {
        width: 200px;
        height: 200px;
        object-fit: cover;

        border: 5px solid white;
        outline: 1px solid lightgray;
        margin: 5px;
    }

    /*.simple-schedule-item:hover {
        box-shadow: 0px 0px 26px rgba(0,0,0,0.2);
    }*/

    .simple-schedule-time {
        font-weight: bold;

        align-self: center;
        margin: 10px;
    }

    .simple-schedule-detail {
        flex: 1;

        margin: 10px;
    }

    .simple-schedule-title {
        margin-bottom: 0;
    }

    .simple-schedule-location {
        margin-bottom: 0;

        font-style: italic;
        font-size: 12px;
    }
</style>
