<div class="login-container">
    <h1 class="login-header title">Mottagningen</h1>
    <form id="loginForm">
        <div class="form-group">
            <label for="usernameField">Användarnamn</label>
            <input type="text" name="username" id="usernameField" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control form-control-lg" />
        </div>
        <div class="form-group">
            <label for="passwordField">Lösenord</label>
            <input type="password" id="passwordField" class="form-control form-control-lg" />
        </div>
        <div id="errorField" class="alert alert-danger" role="alert" style="display:none;"></div>
        <button type="submit" class="btn btn-outline-light">Logga in</button>
    </form>
</div>

<script src="/static/js/login.js"></script>
