<a href="/admin" data-navigo>Tillbaka</a>
<br />
<h1 class="title">Hantera användare</h1>
<ul class="list-group" id="user_list">
    {{#each users}}
        <li class="list-group-item flex-column align-items-start" id="user_{{id}}">
            <div class="d-flex w-100 justify-content-between">
                <label for="input_username_{{id}}" class="inline_user_edit_label">Användarnamn: </label>
                <input type="text" id="input_username_{{id}}" class="inline_user_edit_input" value="{{username}}" />
            </div>
            <div class="d-flex w-100 justify-content-between">
                <label for="input_name_{{id}}" class="inline_user_edit_label">Namn: </label>
                <input type="text" id="input_name_{{id}}" class="inline_user_edit_input" value="{{name}}" />
            </div>
            <div class="d-flex w-100 justify-content-between">
                <label for="input_type_{{id}}" class="inline_user_edit_label">Typ: </label>
                <select id="input_type_{{id}}">
                    {{#each ../user_types}}
                        <option value="{{id}}" {{selected id ../type.id}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <label for="input_n0llegroup_{{id}}" class="inline_user_edit_label">nØllegrupp: </label>
                <select id="input_n0llegroup_{{id}}">
                    <option value="-1">Ingen</option>
                    {{#each ../n0llegroups}}
                        <option value="{{id}}" {{selected id ../n0llegroup.id}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="d-flex w-100 justify-content-between">
                <label for="input_admin_{{id}}" class="inline_user_edit_label">Admin: </label>
                <input id="input_admin_{{id}}" type="checkbox" {{inlineBool 'checked' admin}} />
            </div>

            <div class="d-flex w-100 justify-content-between">
                <label for="input_hidden_{{id}}" class="">Dold: </label>
                <input id="input_hidden_{{id}}" type="checkbox" {{inlineBool 'checked' hidden}} />
            </div>

            <div>
                <label for="input_picture_{{id}}" class="">Ny profilbild: </label>
                <br />
                <input type="file" id="input_picture_{{id}}">
            </div>

            <br />
            <div class="d-flex w-100 justify-content-between">
                <button type="button" class="btn btn-primary btn-sm" onclick="saveUser({{id}});">Spara</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="userResetPassword({{id}});">Återställ lösenord</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="removeUser({{id}});">Ta bort</button>
            </div>

            <br />
            <div id="input_alert_success_{{id}}" class="alert alert-success" role="alert" style="display:none;"></div>
        </li>
    {{/each}}
</ul>
<br />
<button type="button" class="btn btn-primary" onclick="saveAllUsers();">Spara alla ändringar</button>

<style>
    .inline_user_edit_label {
        margin-bottom: 0;
    }

    .inline_user_edit_input {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #afafaf;
    }
</style>

<script>
    function saveAllUsers() {
        $("#user_list > li").each(function(i, el) {
            var id = parseInt(el.id[el.id.length-1]);
            saveUser(id);
        })
    }

    function saveUser(id) {
        $("#input_alert_success_" + id).hide();

        var data = {
            username: $("#input_username_" + id).val(),
            name: $("#input_name_" + id).val(),
            type_id: $("#input_type_" + id).val(),
            admin: $("#input_admin_" + id).is(':checked'),
            hidden: $("#input_hidden_" + id).is(':checked')
        };

        if ($("#input_n0llegroup_" + id).val() != -1)
        {
            data["n0llegroup_id"] = $("#input_n0llegroup_" + id).val();
        }
        else
        {
            if ($("#input_type_" + id + " option:selected").text() == "nØllan")
            {
                if (!confirm("nØllan \"" + data.username + "\" har ingen nØllegrupp! Är du säker på att det ska vara så?"))
                {
                    return;
                }
            }
        }

        var profilePicutureRequest = [];

        if ($("#input_picture_" + id).prop('files').length > 0)
        {
            var file = $("#input_picture_" + id).prop('files')[0];
            var formData = new FormData();
            formData.append("image", file);

            var usID = id;

            profilePicutureRequest.push(axios({
                method: "post",
                url: "/api/upload_profile_picture/" + usID,
                data: formData,
                auth: {
                    username: sessionStorage.authToken,
                    password: ""
                }
            }).catch(function(error) {
                console.error(error);
            }));
        }

        axios.all(profilePicutureRequest).then(function(responses) {
            if (responses.length > 0) {
                $("#input_picture_" + id).val("");
                data["profile_picture"] = responses[0].data.url;
            }

            Frack.User.Update(id, data).then(function (res) {
                $("#input_alert_success_" + id).show();
                $("#input_alert_success_" + id).text("Ändringar är sparade!");
            });
        });
    }

    function removeUser(id) {
        if (confirm("Är du säker på att du vill ta bort användaren?"))
        {
            Frack.User.Delete(id).then(function(res) {
                $("#user_" + id).remove();
            });
        }
    }

    function userResetPassword(id) {
        var newPassword = "potatis";

        Frack.User.Update(id, { password: newPassword }).then(function(res) {
            $("#input_alert_success_" + id).show();
            $("#input_alert_success_" + id).text("Nytt lösenord är \"" + newPassword + "\"!");
        });
    }
</script>
