<a href="/admin" data-navigo>Tillbaka</a>
<br />
<h1 class="title">Hantera nØllegrupper</h1>
<ul class="list-group" id="n0llegroup_list">
{{#each n0llegroups}}
    <li class="list-group-item" id="n0llegroup_{{id}}">
        <div class="d-flex w-100 justify-content-between">
            <label for="input_name_{{id}}" class="inline_n0llegroup_edit_label">Namn: </label>
            <input type="text" id="input_name_{{id}}" class="inline_n0llegroup_edit_input" value="{{name}}" />
        </div>
        <br />
        <div class="d-flex w-100 justify-content-between">
            <button type="button" class="btn btn-primary btn-sm" onclick="saveN0lleGroup({{id}});">Spara</button>
            <button type="button" class="btn btn-secondary btn-sm" onclick="removeN0lleGroup({{id}});">Ta bort</button>
        </div>
        <div id="input_alert_success_{{id}}" class="alert alert-success" role="alert" style="margin-top: 5px;display:none;"></div>
    </li>
{{/each}}
</ul>
<br />
<h4>Ny nØllegrupp</h4>
<form class="form-control">
    <label for="new_n0llegroup_name">Namn: </label>
    <input type="text" id="new_n0llegroup_name" class="form-control" />
    <br />
    <input type="submit" class="btn btn-primary" onclick="event.preventDefault(); newN0lleGroup();" value="Skapa" />
</form>
<br />
<div id="new_alert_success" class="alert alert-success" role="alert" style="margin-top: 5px;display:none;"></div>


<style>
    .inline_n0llegroup_edit_label {
        margin-bottom: 0;
    }

    .inline_n0llegroup_edit_input {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #afafaf;
    }
</style>

<script>

function newN0lleGroup() {
    var name = $("#new_n0llegroup_name").val();

    Frack.N0lleGroup.New({name: name}).then(function (res) {
        $("#new_alert_success").show();
        $("#new_alert_success").text("Skapade ny nØllegrupp!");

        var id = res.data.group_id;

        $("#n0llegroup_list").append(`

            <li class="list-group-item" id="n0llegroup_${id}">
                <div class="d-flex w-100 justify-content-between">
                    <label for="input_name_${id}" class="inline_n0llegroup_edit_label">Namn: </label>
                    <input type="text" id="input_name_${id}" class="inline_n0llegroup_edit_input" value="${name}" />
                </div>
                <br />
                <div class="d-flex w-100 justify-content-between">
                    <button type="button" class="btn btn-primary btn-sm" onclick="saveN0lleGroup(${id});">Spara</button>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="removeN0lleGroup(${id});">Ta bort</button>
                </div>
                <div id="input_alert_success_${id}" class="alert alert-success" role="alert" style="margin-top: 5px;display:none;"></div>
            </li>

            `);
    });
}

function saveN0lleGroup(id) {
    var data = {
        name: $("#input_name_" + id).val()
    };

    Frack.N0lleGroup.Update(id, data).then(function (res) {
        $("#input_alert_success_" + id).show();
        $("#input_alert_success_" + id).text("Ändringar är sparade!");
    });
}

function removeN0lleGroup(id) {
    if (confirm("Är du säker på att du vill ta bort nØllegruppen? Alla användare i gruppen kommer att tappa sin grupp!"))
    {
        Frack.N0lleGroup.Delete(id).then(function(res) {
            $("#n0llegroup_" + id).remove();
        });
    }
}

</script>
