<h1 class="title">Bilder och videor</h1>

<div class="filters">
    <h2>Vecka:</h2>
    <div class="week-buttons">
        {{#each weeks}}
        <button class="btn btn-primary btn-sm filter-button-week my-1" data-filter={{this}}>{{this}}</button>
        {{/each}}
    </div>

    <h2>Event:</h2>
    <div class="event-buttons">
        {{#each events}}
        <button class="btn btn-primary btn-sm filter-button-event my-1" data-filter="{{id}}">{{name}}</button>
        {{/each}}
    </div>
    <h2>Mediatyp:</h2>
    <div class="type-buttons">
        <button class="btn btn-primary btn-sm filter-button-type my-1" data-filter="image">Bild</button>
        <button class="btn btn-primary btn-sm filter-button-type my-1" data-filter="video">Video</button>
    </div>
    {{#if user.admin}}
    <br />
    <div class="delete-menu">
        <button class="btn btn-primary btn-sm" id="delete-media-button-activate">Radera media</button>
        <button class="btn btn-primary btn-sm" id="delete-media-button" style="display: none;">Radera valda</button>
    </div>
    {{/if}}
</div>
<br>

<div class="media-list">
{{#each media}}
    <div
        id="media-thumbnail-{{type}}{{id}}"
        class="media-thumbnail"
        style="background-image: url('{{thumbnail}}'); transform: rotate({{rot}}deg);"
        data-id="{{id}}"
        data-filename="{{filename}}"
        data-video="{{video_link}}"
        data-type="{{type}}"
        data-week="{{week}}"
        data-event="{{event.id}}"
        data-previd="{{previd}}"
        data-nextid="{{nextid}}"
    >
        {{#ifCond type "video"}}

        <img src="/static/images/play_icon.png" class="media-play-icon" />
        {{/ifCond}}
    </div>
{{/each}}
</div>

<div class="lightbox">
    <div class="lightbox-left-button" onclick="prevImage();">&#x2039;</div>
    <div class="lightbox-x">&#x2716;</div>
    <img id="lightbox-image" class="active-image" />
    <iframe id="lightbox-video" type="text/html" frameborder="0" allowfullscreen></iframe>
    <div class="lightbox-right-button" onclick="nextImage();">&#x203a;</div>
</div>

<script>
    var activeFilters = {
        weeks: [],
        events: [],
        types: []
    };

    var deleteMode = false;
    var imagesToDelete = [];
    var videosToDelete = [];

    $(".filter-button-type").click(function(e) {
        var filter = e.target.dataset.filter;

        if ($(e.target).hasClass("active")) {
            activeFilters.types.splice(activeFilters.types.indexOf(filter), 1);
            $(e.target).removeClass("active");
        }
        else {
            activeFilters.types.push(filter);
            $(e.target).addClass("active");
        }

        updateFilter();
    });

    $(".filter-button-event").click(function(e) {
        var filter = e.target.dataset.filter;

        if ($(e.target).hasClass("active")) {
            activeFilters.events.splice(activeFilters.events.indexOf(filter), 1);
            $(e.target).removeClass("active");
        }
        else {
            activeFilters.events.push(filter);
            $(e.target).addClass("active");
        }

        updateFilter();
    });

    $(".filter-button-week").click(function(e) {
        var filter = e.target.dataset.filter;

        if ($(e.target).hasClass("active")) {
            activeFilters.weeks.splice(activeFilters.weeks.indexOf(filter), 1);
            $(e.target).removeClass("active");
        }
        else {
            activeFilters.weeks.push(filter);
            $(e.target).addClass("active");
        }

        updateFilter();
    });

    $(document).ready(function () {
        $(".media-thumbnail").click(function(e) {
            if (!deleteMode) {
                var elem = e.target;
                updateLightboxFromElem(elem);
            }
        });
    });

    $(window).resize(function() {
        $("#lightbox-video").width($(document).width()*0.9);
        $("#lightbox-video").height(($("#lightbox-video").width()/16)*9);
    });

    $(document).on('click', function(event) {
        if ($(event.target).has('.lightbox-left-button, #lightbox-image, .lightbox-right-button').length) {
            $(".lightbox").css("display", "none");
            $("#lightbox-image").attr("src", "");
            $("#lightbox-video").attr("src", "");
        }
    });

    $(".lightbox-x").click(function() {
        $(".lightbox").css("display", "none");
        $("#lightbox-image").attr("src", "");
        $("#lightbox-video").attr("src", "");
    })

    $(document).keypress(function(e) {
        if (e.keyCode == 27) {
            // Escape
            $(".lightbox").css("display", "none");
            $("#lightbox-image").attr("src", "");
            $("#lightbox-video").attr("src", "");
        } else if (e.keyCode == 37) {
            // Left arrow
            prevImage();
        } else if (e.keyCode == 39) {
            // Right arrow
            nextImage();
        }
    });

    $("#delete-media-button-activate").click(function(e) {
        var btn = $(e.target);

        if (btn.text() == "Avbryt") {
            btn.text("Radera media");
            $("#delete-media-button").hide();
            deleteMode = false;
            imagesToDelete = [];
            videosToDelete = [];
            $(".media-thumbnail").removeClass("deletion-selected");
        }
        else {
            btn.text("Avbryt");
            $("#delete-media-button").show();
            deleteMode = true;
        }
    });

    $(".media-thumbnail").click(function(e) {
        if (deleteMode) {
            $(e.target).addClass("deletion-selected");
            if (e.target.dataset.type == "image") {
                imagesToDelete.push(e.target.dataset.id);
            }
            else if (e.target.dataset.type == "video") {
                videosToDelete.push(e.target.dataset.id);
            }
        }
    });

    $("#delete-media-button").click(function(e) {
        if ((imagesToDelete.length > 0 || videosToDelete.length > 0) && confirm("Är du säker på att du vill ta bort dessa?")) {
            axios({
                method: "delete",
                url: "/api/media/",
                auth: {
                    username: sessionStorage.authToken,
                    password: ""
                },
                data: {
                    images: imagesToDelete,
                    videos: videosToDelete
                }
            }).then(function(res) {
                $(".deletion-selected").remove();

                $("#delete-media-button-activate").text("Radera media");
                $("#delete-media-button").hide();
                deleteMode = false;
                imagesToDelete = [];
                videosToDelete = [];
                $(".media-thumbnail").removeClass("deletion-selected");
            }).catch(function(error) {
                console.error(error);
            });
        }
    });

    function updateLightboxFromElem(elem) {
        var previd = elem.dataset.previd;
        var nextid = elem.dataset.nextid;

        $(".lightbox-left-button, .lightbox-right-button").show();

        $(".lightbox").data("previd", previd);
        $(".lightbox").data("nextid", nextid);

        if (previd == -1) {
            $(".lightbox-left-button").hide();
        }

        if (nextid == -1) {
            $(".lightbox-right-button").hide();
        }

        if (elem.dataset.type == "image") {
            $("#lightbox-video").attr("src", "");
            $("#lightbox-image").attr("src", elem.dataset.filename);

            $("#lightbox-image").show();
            $("#lightbox-video").hide();
        } else if (elem.dataset.type == "video") {
            // utifall det blir knas med &feature=youtu.be

            if ( elem.dataset.video.includes("&feature=youtu.be")){
                elem.dataset.video = elem.dataset.video.split("&")[0];
            }

            $("#lightbox-video").attr("src", "https://" + elem.dataset.video);

            $("#lightbox-video").width($(document).width()*0.9);
            $("#lightbox-video").height(($("#lightbox-video").width()/16)*9);

            $("#lightbox-video").show();
            $("#lightbox-image").hide();
        }
        $(".lightbox").css("display", "flex");
    }

    function updateLightBoxFromId(id) {
        var sel = $("#media-thumbnail-" + id);
        if (sel.length > 0) {
            updateLightboxFromElem(sel[0]);
        }
    }

    function prevImage() {
        updateLightBoxFromId($(".lightbox").data("previd"));
    }

    function nextImage() {
        updateLightBoxFromId($(".lightbox").data("nextid"));
    }

    function updateFilter() {
        $(".media-thumbnail").each(function(index, elem) {
            var typeFilter = (activeFilters.types.length > 0);
            var eventFilter = (activeFilters.events.length > 0);
            var weekFilter = (activeFilters.weeks.length > 0);

            var matchesTypeFilter = activeFilters.types.includes(elem.dataset.type);
            var matchesEventFilter = activeFilters.events.includes(elem.dataset.event);
            var matchesWeekFilter = activeFilters.weeks.includes(elem.dataset.week);

            var shouldShow = true;

            // Det finns säkert bättre sätt att göra detta, men whatever
            if (typeFilter) {
                shouldShow = matchesTypeFilter;
            }
            if (eventFilter) {
                shouldShow = matchesEventFilter;
            }
            if (weekFilter) {
                shouldShow = matchesWeekFilter;
            }

            if (typeFilter && eventFilter) {
                shouldShow = matchesTypeFilter && matchesEventFilter;
            }
            if (typeFilter && weekFilter) {
                shouldShow = matchesTypeFilter && matchesWeekFilter;
            }
            if (weekFilter && eventFilter) {
                shouldShow = matchesWeekFilter && matchesEventFilter;
            }

            if (typeFilter && weekFilter && eventFilter) {
                shouldShow = matchesTypeFilter && matchesWeekFilter && matchesEventFilter;
            }

            if (shouldShow) {
                $(elem).show();
            }
            else {
                $(elem).hide();
            }
        });
    }
</script>
