<a href="/profiler" data-navigo>Tillbaka till alla profiler</a>
<br>
<img src="{{user.profile_picture}}" class="book-profile-large" />
<h1 class="title">{{user.name}}</h1>

{{#unlessCond user.type.name "nØllan"}}
<center><i>{{user.type.name}}</i></center>
{{/unlessCond}}

{{#if user.n0llegroup}}
<center><i>{{user.n0llegroup.name}}</i></center>
{{/if}}

<br />
{{#unlessCond user.type.name "RSA"}}
{{#if isCurrent}}
<a href="/profiler/{{user.username}}/redigera" data-navigo>Redigera profil</a>
<br />
<br />
{{/if}}

<p>{{user.description}}</p>

{{#ifCond user.name "Foppe"}}
<script>
    var skoj = false;
    function funfunfunction(){
        if (!skoj){
            $('body, .title, h3, p, a').css("color", "hotpink");
            $('body, .title, h3, p, a').css("font-family", "Comic Sans MS, Comic Sans");
            $('.foppe-btn').text("HJÄLP");
            skoj = !skoj;
        }else{
            $('body, .title, h3, p, a').css("font-family", "");
            $('body, .title, h3, p, a').css("color", "");
            $(".foppe-btn").text("KLICKA HÄR")
            skoj = !skoj;
        }
    }
</script>
<button class="foppe-btn" onclick="funfunfunction()">KLICKA HÄR</button>
{{/ifCond}}

{{#if user.q1}}
<h3>Sagoslott eller pepparkakshus?</h3>
<p>{{user.q1}}</p>
{{/if}}

{{#if user.q2}}
<h3>Vad heter hjälten i din saga?</h3>
<p>{{user.q2}}</p>
{{/if}}

{{#if user.q3}}
<h3>Det var en gång...?</h3>
<p>{{user.q3}}</p>
{{/if}}
{{/unlessCond}}

{{#ifCond user.type.name "RSA"}}
<link href="https://fonts.googleapis.com/css?family=Stardos+Stencil" rel="stylesheet">
<style>

    .bookcontent-right{
        background: black !important;
        color: white !important;
        font-family: "Stardos Stencil" !important;
        font-weight: bold;
    }
    .bookcontent-right h1, .bookcontent-right h3, .bookcontent-right p, .bookcontent-right a{
        font-family: "Stardos Stencil" !important;
        color: white !important;
        font-weight: bold;
    }
    .bookcontent-right h1{
        text-align: center;
        font-weight: bold;
    }

    .bookcontent-right .title{
        text-transform: uppercase;
        font-weight: bold;
    }

    .bookcontent-right i {
        text-transform: uppercase;
        font-weight: bold;
    }
</style>
<h1>RSA SER ALLT</h1>
{{/ifCond}}