<link href="https://fonts.googleapis.com/css?family=Stardos+Stencil" rel="stylesheet">
<h1 class="title">Profiler</h1>
{{#each n0llan}}
    <h2>{{@key}}</h2>
    <div class="user-profile-card-container">
    {{#each this}}
        {{#unless this.hidden}}
        <a href="/profiler/{{this.username}}" class="user-profile-card" style="transform: rotate({{this.portrait_rot}}deg)" data-navigo><img src="{{this.profile_picture}}" class="user-profile-card-image" />{{this.name}}</a>
        {{/unless}}
    {{/each}}
    </div>
{{/each}}

<hr />

{{#each phos}}
    <div class="{{#ifCond @key 'RSA'}} rsa-profile-container {{/ifCond}}">
        <h2 class="{{#ifCond @key 'RSA'}} rsa-profile-header {{/ifCond}}">{{@key}}</h2>
        <div class="user-profile-card-container">
        {{#each this}}
            {{#unless this.hidden}}
            <a href="/profiler/{{this.username}}" class="user-profile-card {{#ifCond this.type.name 'RSA'}} rsa-profile-card {{/ifCond}}"  style="transform: rotate({{this.portrait_rot}}deg)" data-navigo><img src="{{this.profile_picture}}" class="user-profile-card-image" />{{this.name}}</a>
            {{/unless}}
        {{/each}}
        </div>
    </div>
{{/each}}
    <div class="rsa-profile-container">
        <h2 class=" rsa-profile-header">RSA</h2>
        <div class="user-profile-card-container">
        {{#each rsa}}
            
            <a href="/profiler/{{this.username}}" class="user-profile-card {{#ifCond this.type.name 'RSA'}} rsa-profile-card {{/ifCond}}"  style="transform: rotate({{this.portrait_rot}}deg)" data-navigo><img src="{{this.profile_picture}}" class="user-profile-card-image" />{{this.name}}</a>
            
        {{/each}}
        </div>
    </div>


<style>
    .user-profile-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rsa-profile-card{
        background-color: black !important;
        border: 5px solid black !important;
        color: white !important;
        font-family: "Stardos Stencil" !important;
        text-transform: uppercase !important;
        font-weight: bold;
    }

    .rsa-profile-header {
        font-family: "Stardos Stencil" !important;
        color: white;
        text-align: center;
    }

    .rsa-profile-container {
        background: linear-gradient(transparent, black 25%);
        margin-left: -25px;
        margin-right: -25px;
        margin-top: 50px;
        padding-top: 200px;
        padding-bottom: 75px;
    }

    .user-profile-card {
        width: 128px;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 5px;
        border: 5px solid white;
        outline: 1px solid lightgray;
        overflow: hidden;
        box-shadow: 0px 0px 26px rgba(0,0,0,0.2);
    }

    .user-profile-card-image {
        width: 100%;
        height: auto;
    }
</style>
