<a href="/profiler" data-navigo>Tillbaka till alla profiler</a>
<br>
<img src="{{user.profile_picture}}" class="book-profile-large" />
<h1 class="title">{{user.name}}</h1>

{{#unlessCond user.type.name "nØllan"}}
<center><i>{{user.type.name}}</i></center>
{{/unlessCond}}

{{#if user.n0llegroup}}
<center><i>{{user.n0llegroup.name}}</i></center>
{{/if}}

<br />

<form id="user_edit_form">
    <textarea class="form-control" rows="3" id="user_form_description">{{user.description}}</textarea>

    <br />

    <h3>Fråga 1?</h3>
    <input type="text" class="form-control" value="{{user.q1}}" id="user_form_q1"/>

    <h3>Fråga 2?</h3>
    <input type="text" class="form-control" value="{{user.q2}}" id="user_form_q2"/>

    <h3>Fråga 3?</h3>
    <input type="text" class="form-control" value="{{user.q3}}" id="user_form_q3"/>

    <br />
    <input type="submit" class="btn btn-primary" value="Spara"/>
</form>

<script>
    var form = document.querySelector('#user_edit_form');
    form.onsubmit = function(e) {
        e.preventDefault();

        Frack.User.Update({{user.id}}, {
            description: $("#user_form_description").val(),
            q1: $("#user_form_q1").val(),
            q2: $("#user_form_q2").val(),
            q3: $("#user_form_q3").val()
        }).then(function(res) {
            Frack.Router.navigate("/profiler/{{user.username}}");
        });
    };
</script>
