<h1 class="title">Schema</h1>

<div class="schedule-popup">
    <div class="schedule-popup-box">
        <h2 class="schedule-title"></h2>
        <h4 class="schedule-popup-time"></h4>
        <p class="schedule-popup-location"></p>
    </div>
</div>

{{#each weeks}}
<h2 class="schedule-week-title">
    {{#if ../prevWeek}}
        <a href="/schema/{{../prevWeek}}" data-navigo class="schedule-week-change">&laquo;</a>
    {{else}}
        <div class="schedule-week-change"></div>
    {{/if}}
    Vecka {{@key}}
    {{#if ../nextWeek}}
        <a href="/schema/{{../nextWeek}}" data-navigo class="schedule-week-change">&raquo;</a>
    {{else}}
        <div class="schedule-week-change"></div>
    {{/if}}
</h2>
<div class="schedule-week">
    <div class="schedule-time-column">
        <p class="schedule-time">08:00</p>
        <p class="schedule-time">09:00</p>
        <p class="schedule-time">10:00</p>
        <p class="schedule-time">11:00</p>
        <p class="schedule-time">12:00</p>
        <p class="schedule-time">13:00</p>
        <p class="schedule-time">14:00</p>
        <p class="schedule-time">15:00</p>
        <p class="schedule-time">16:00</p>
        <p class="schedule-time">17:00</p>
        <p class="schedule-time">18:00</p>
        <p class="schedule-time">19:00</p>
        <p class="schedule-time">20:00</p>
        <p class="schedule-time">21:00</p>
        <p class="schedule-time">22:00</p>
        <p class="schedule-time">23:00</p>
        <p class="schedule-time">00:00</p>
    </div>
    {{#each this}}
        <div>
            {{#ifCond ../../currentDay @key}}
                <h3 class="schedule-current-day">{{toWeekDay @key}}</h3>
            {{else}}
                <h3>{{toWeekDay @key}}</h3>
            {{/ifCond}}

            <div class="schedule-day">
                {{#each this}}
                    <div class="schedule-filler" style="height: {{topPosition}}px;">
                    </div>
                    <div class="schedule-item" style="height: {{height}}px;" data-duration="{{duration_str}}">
                        <p class="schedule-title">{{summary}}</p>
                        <p class="schedule-location">{{location}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>
{{/each}}

<script>
    $(".schedule-item").click(function(e) {
        var summary = $(e.target).closest(".schedule-item").children(".schedule-title").text();
        var location = $(e.target).closest(".schedule-item").children(".schedule-location").text();
        var duration = $(e.target).closest(".schedule-item").data("duration");

        $(".schedule-popup-box > .schedule-title").text(summary);
        $(".schedule-popup-box > .schedule-popup-location").text(location);
        $(".schedule-popup-box > .schedule-popup-time").text(duration);
        $(".schedule-popup").css("display", "flex");
        $("body").css("overflow", "hidden");
    });

    $(".schedule-popup").click(function() {
        $(".schedule-popup").hide();
        $("body").css("overflow", "initial");
    });

    // Scrolla till dagens dag ifall det finns en sådan
    if ($(".schedule-current-day").length) {
        $('.schedule-week').scrollLeft($(".schedule-current-day").offset().left - $(".schedule-week").offset().left - 60);
    }
</script>

<style>

.schedule-week-change {
    font-size: 32px;
    width: 32px;
    display: inline-block;
}

.schedule-week-title {
    text-align: center;
}

.schedule-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);

    overflow: hidden;

    display: none;
    justify-content: center;
    align-items: center;
}

.schedule-popup-box {
    background-color: white;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.schedule-popup-time {
    margin-bottom: 0;
}

.schedule-popup-location {
    margin-bottom: 0;
    font-style: italic;
}

.schedule-time-column {
    left: 0;
    position: sticky;
    padding-top: 25px;
    padding-right: 10px;
    background-color: #fffcf9;
}

.schedule-time {
    line-height: 33.8px;
}

.schedule-week {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1;
    min-width: 0;
}

.schedule-day {
    border: 1px solid lightgray;
    width: 180px;
    height: 850px;

    background: repeating-linear-gradient(lightgray, transparent 1px, transparent 50px);
}

.schedule-item {
    background-color: white;
    border: 1px solid lightgray;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    margin-right: 10px;

    padding: 3px;

    cursor: pointer;
}

.schedule-title {
    margin-bottom: 0;
}

.schedule-location {
    margin-bottom: 0;
    font-style: italic;
    font-size: 90%;
}

.schedule-filler {
}

</style>
