<script src="/static/js/upload_functions.js"></script>

<a href="/admin" data-navigo>Tillbaka</a>

<h2>Bilder:</h2><br>
<input type="file" id ="files" multiple><br>
<h2>Videor: (separera med ",")</h2><br>
<input id="videos" type="text"><br>
<h2>Vecka</h2><br>
<select id="week">
    <option value="33">33</option>
    <option value="34">34</option>
    <option value="35">35</option>
    <option value="36">36</option>
</select><br>
<h2>Event</h2><br>
<select id="event">
    {{#each events}}
        <option value="{{id}}">{{name}}</option>
    {{/each}}
</select><br>
<button onclick="uploadMedia()">Ladda upp</button>
