<h1 class="title">Admin</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/skapa_nyhet" data-navigo>Skapa nytt inlägg</a>
    <a class="list-group-item list-group-item-action" href="/admin/hantera_nyheter" data-navigo>Hantera inlägg</a>
</div>
<br />
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/upload" data-navigo>Ladda upp ny bild/video</a>
    <a class="list-group-item list-group-item-action" href="/" data-navigo>Hantera bilder/videor</a>
</div>
<br />
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/" data-navigo>Ladda upp ny Bländaren</a>
    <a class="list-group-item list-group-item-action" href="/" data-navigo>Hantera Bländaren</a>
</div>
<br />
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/" data-navigo>Skapa ny användare (enkel)</a>
    <a class="list-group-item list-group-item-action" href="/" data-navigo>Skapa ny användare (detaljerad)</a>
    <a class="list-group-item list-group-item-action" href="/" data-navigo>Hantera användare</a>
</div>
<br />
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/" data-navigo>Skapa ny nØllegrupp</a>
    <a class="list-group-item list-group-item-action" href="/" data-navigo>Hantera nØllegrupper</a>
</div>
