<a href="/admin" data-navigo>Tillbaka</a>
<br />
<h1 class="title">Hantera inlägg</h1>
<ul class="list-group">
{{#each news}}
    <li class="list-group-item" id="news_{{id}}">
        <div class="d-flex w-100 justify-content-between">
            <p>{{headline}}</p>
            <div><p><a href="/admin/redigera_nyhet/{{id}}" data-navigo>Redigera</a> | <a href="" onclick="removePost({{id}}); event.preventDefault();">Ta bort</a></p></div>
        </div>
    </li>
{{/each}}
</ul>

<script>

function removePost(id) {
    if (confirm("Är du säker på att du vill ta bort inlägget?")) {
        Frack.News.Delete(id).then(function(res) {
            $("#news_" + id).remove();
        });
    }
}

</script>
