<script>
    // script för att hämta och filtrera media
    var allMedia;
    var shownMedia;
    var weeks;
    var events;
    var API_URL = "/api/media";
    var MEDIA_URL = "/media/";
    var weekFilter = "all";
    var eventFilter = "all";
    var typeFilter = "all";
    $(document).ready(function(){
       /*fetch(API_URL).then((response) => response.json())
       .then((jsondata) => {allMedia = jsondata
                            shownMedia = allMedia
                            updateMediaList(shownMedia)});*/
        fetchData();
        
    });

    fetchData = async () => {
        allMedia =  await fetch(API_URL).then((response) => response.json())
        .then((jsondata) => {return jsondata});
        shownMedia = allMedia;
        updateMediaList(shownMedia);
        

        weeks = await fetch("/api/weeks").then((response) => response.json())
        .then((jsondata) => {return jsondata});
        generateWeekButtons();
        $("#week-all").addClass("active-selection");

        events = await fetch("/api/events").then((response) => response.json())
        .then((jsondata) => {return jsondata});
        generateEventButtons();
        $("#event-all").addClass("active-selection");

        $("#type-all").addClass("active-selection");
    }

    generateWeekButtons = function(){
        var weekDiv = $(".week-buttons");
        var selectAllBtn = $(('<button>'));
            selectAllBtn.text("Alla")
            selectAllBtn.attr("id", "week-all");
            selectAllBtn.attr("class", "week-select-button");
            selectAllBtn.attr("onclick", "setWeekFilter('all')");
            weekDiv.append(selectAllBtn);
        for (var i = 0; i < weeks.length; i++){
            var buttonStr = $(('<button>'));
            buttonStr.text( weeks[i]);
            buttonStr.attr("id", weeks[i]);
            buttonStr.attr("class", "week-select-button");
            buttonStr.attr("onclick", "setWeekFilter(" + weeks[i]+ ")");
            weekDiv.append(buttonStr);
        }
    }
    generateEventButtons = function(){
        var weekDiv = $(".event-buttons");
        var selectAllBtn = $(('<button>'));
            selectAllBtn.text("Alla")
            selectAllBtn.attr("id", "event-all");
            selectAllBtn.attr("class", "event-select-button");
            selectAllBtn.attr("onclick", "setEventFilter('all')");
            weekDiv.append(selectAllBtn);
        for (var i = 0; i < events.length; i++){
            var buttonStr = $(('<button>'));
            buttonStr.text( events[i]);
            buttonStr.attr("id", events[i]);
            buttonStr.attr("class", "event-select-button");
            buttonStr.attr("onclick", "setEventFilter('" + events[i]+ "')");
            weekDiv.append(buttonStr);
        }
    }

    setWeekFilter = function(week){
       $(".week-select-button").removeClass("active-selection");
        weekFilter = week;
        if(week === "all"){
            $("#week-all").addClass("active-selection");
        }else{
            $("#"+week).addClass("active-selection");
        }
        filterMedia();
    }

    setEventFilter = function(event){
        $(".event-select-button").removeClass("active-selection");
        eventFilter = event;
        if(event === "all"){
            $("#event-all").addClass("active-selection");
        }else{
            $("#"+event).addClass("active-selection");
        }
        filterMedia();
    }

    setTypeFilter = function(type){
        $(".type-button").removeClass("active-selection");
        typeFilter = type;
        if(type === "all"){
            $("#type-all").addClass("active-selection");
        }else{
            $("#type-"+type).addClass("active-selection");
        }
        filterMedia();
    }

    updateMediaList = function(mediaArray){
        var mediaList = $(".media-list");
        mediaList.empty();
        for (var i = 0; i < mediaArray.length; i++){
            var mediaObj = mediaArray[i];
            if (mediaObj.type === "image"){
                var img = $(('<img id="' + mediaObj.filename +'">'));
                img.attr("src", MEDIA_URL + mediaObj.thumbnail);
                img.attr("class", "media-thumbnail");
            }
            if(mediaObj.type === "video"){
                console.log(mediaObj)
                var img = $(('<img id="' + mediaObj.video_link + '">'))
                img.attr("src", mediaObj.thumbnail);
                img.attr("class", "media-thumbnail");
            }
            mediaList.append(img);
        }
    }
    $(".media-list").on('click', '.media-thumbnail', (event) => updateActiveMedia(event.target.id))
    updateActiveMedia = function(mediaId){
        console.log(JSON.stringify(mediaId));
        var content = allMedia.find(m => m.filename === mediaId || m.video_link === mediaId);
        $(".active-media").empty();
        $(".lightbox").empty();
        if(content.type === "video"){
            var iframe = $(('<iframe id="active">'));
            iframe.attr("src", "http://" + content.video_link);
            iframe.attr("frameborder", "0");

            $(".active-media").append(iframe);
        }
        if(content.type === "image"){
            var anchor = $(('<a>'));
            anchor.attr( "href", "#" + content.filename + "-lightbox");
            anchor.attr("class", "anchor-link");

            var img = $(('<img>'));
            img.attr("class", "active-image");
            img.attr("src", MEDIA_URL + content.filename);
            //img.attr("height", $(".active-media").height());
            //img.attr("width", $(".media-container").width());
            
            
            $(".active-media").append(anchor);
            $(".lightbox").attr("id", content.filename + "-lightbox");
            img.appendTo(".anchor-link, .lightbox");
        }
    }

    filterMedia = function(){
        selectedWeek = weekFilter;
        selectedEvent = eventFilter;
        selectedType = typeFilter;
        shownMedia = allMedia;
        if (selectedEvent != "all"){
            shownMedia = allMedia.filter(m => m.event == selectedEvent);
        }
        if(selectedWeek != "all"){
            shownMedia = shownMedia.filter(m => m.week == selectedWeek);
        }
        if(selectedType != "all"){
            shownMedia = shownMedia.filter(m => m.type == selectedType);
        }
        updateMediaList(shownMedia);
    }
</script>

<body>
    <div class="filters">
        <h2>Vecka:</h2>
        <div class="week-buttons">

        </div>
        
        <h2>Event: </h2>
        <div class="event-buttons">

        </div>
        <h2>Mediatyp: </h2>
        <div class="type-buttons">
            <button onclick="setTypeFilter('all')" id="type-all"class="type-button">Alla</button>
            <button onclick="setTypeFilter('image')" id="type-image" class="type-button">Bild</button>
            <button onclick="setTypeFilter('video')" id="type-video" class="type-button">Video</button>
        </div>
    </div>
    <br>
    <div class="media-list">

    </div>
    <div class="active-media">

    </div>

    <a href="#_" class="lightbox">

    </a>
</body>