<script>
    // script för att hämta och filtrera media
    var allMedia;
    var shownMedia;
    var weeks;
    var events;
    var API_URL = "/api/media";
    var MEDIA_URL = "/media/";
    $(document).ready(function(){
       /*fetch(API_URL).then((response) => response.json())
       .then((jsondata) => {allMedia = jsondata
                            shownMedia = allMedia
                            updateMediaList(shownMedia)});*/
        fetchData();
        
    });

    fetchData = async () => {
        allMedia =  await fetch(API_URL).then((response) => response.json())
        .then((jsondata) => {return jsondata});
        shownMedia = allMedia;
        updateMediaList(shownMedia)

        weeks = await fetch("/api/weeks").then((response) => response.json())
        .then((jsondata) => {return jsondata});
        generateWeekSelector();
        
        events = await fetch("/api/events").then((response) => response.json())
        .then((jsondata) => {return jsondata});
        generateEventSelector();
    }

    generateWeekSelector = function(){
        var weekSelector = $("#week-select");
        for(var i = 0; i < weeks.length; i++ ){
            var optionStr = '<option value="'+ weeks[i] +'">'+ weeks[i] +'</option>';
            weekSelector.append(optionStr);
        }
    }

    generateEventSelector = function(){
        var eventSelector = $("#event-select");
        for(var i = 0; i < events.length; i++ ){
            var optionStr = '<option value="'+ events[i] +'">'+ events[i] +'</option>';
            eventSelector.append(optionStr);
        }
    }

    updateMediaList = function(mediaArray){
        var mediaList = $(".media-list");
        mediaList.empty();
        for (var i = 0; i < mediaArray.length; i++){
            var mediaObj = mediaArray[i];
            if (mediaObj.type === "image"){
                var img = $(('<img id="' + mediaObj.filename +'">'));
                img.attr("src", MEDIA_URL + mediaObj.thumbnail);
                img.attr("class", "media-thumbnail");
            }
            if(mediaObj.type === "video"){
                console.log(mediaObj)
                var img = $(('<img id="' + mediaObj.video_link + '">'))
                img.attr("src", mediaObj.thumbnail);
                img.attr("class", "media-thumbnail");
            }   
            mediaList.append(img);
        }
    }
    $("#week-select").change(() => {filterMedia()});
    $("#event-select").change(() => {filterMedia()})
    $(".media-list").on('click', '.media-thumbnail', (event) => updateActiveMedia(event.target.id))
    updateActiveMedia = function(mediaId){
        console.log(JSON.stringify(mediaId));
        var content = allMedia.find(m => m.filename === mediaId || m.video_link === mediaId);
        $(".active-media").empty();
        if(content.type === "video"){
            var iframe = $(('<iframe id="active">'));
            iframe.attr("src", "http://" + content.video_link);
            iframe.attr("frameborder", "0");

            $(".active-media").append(iframe);
        }
        if(content.type === "image"){
            var img = $(('<img>'));
            img.attr("src", MEDIA_URL + content.filename);
            img.attr("height", $(".active-media").height());
            img.attr("width", $(".media-container").width())
            $(".active-media").append(img);
        }
    }

    filterMedia = function(){
        selectedWeek = $("#week-select option:selected").val();
        selectedEvent = $("#event-select option:selected").val();
        shownMedia = allMedia;
        if (selectedEvent != "all"){
            shownMedia = allMedia.filter(m => m.event == selectedEvent);
        }
        if(selectedWeek != ""){
            shownMedia = shownMedia.filter(m => m.week == selectedWeek);
        }
        updateMediaList(shownMedia);
    }
</script>

<body>
    <div class="filters">
        <h2>Vecka:</h2>
        <select id="week-select">
            <option value="">Visa alla</option>
        </select>
        
        <h2>Event: </h2>
        <select id="event-select">
            <option value="all">Visa alla</option>
        </select>
    </div>
    <br>
    <div class="media-list">

    </div>
    <div class="active-media">

    </div>
</body>