<h1 class="title">Profiler</h1>
{{#each n0llan}}
    <h2>{{@key}}</h2>
    <div class="user-profile-card-container">
    {{#each this}}
        {{#unless this.hidden}}
        <a href="/profiler/{{this.username}}" data-navigo><div class="user-profile-card"><img src="{{this.profile_picture}}" class="user-profile-card-image" />{{this.name}}</div></a>
        {{/unless}}
    {{/each}}
    </div>
{{/each}}

<hr />

{{#each phos}}
    <h2>{{@key}}</h2>
    <div class="user-profile-card-container">
    {{#each this}}
        {{#unless this.hidden}}
        <a href="/profiler/{{this.username}}" data-navigo><div class="user-profile-card"><img src="{{this.profile_picture}}" class="user-profile-card-image" />{{this.name}}</div></a>
        {{/unless}}
    {{/each}}
    </div>
{{/each}}


<style>
    .user-profile-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .user-profile-card {
        width: 128px;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 5px;
        border: 5px solid white;
        overflow: hidden;
    }

    .user-profile-card-image {
        width: 100%;
        height: auto;
    }
</style>
