<div class="sidebar">
    <div class="text-center">
        <a href="/profiler/{{user.username}}" data-navigo>
            <img src="{{user.profile_picture}}" class="book-profile" />
            <h3 class="title">{{user.name}}</h3>
        </a>
        <p>{{user.n0llegroup.name}}</p>
    </div>
    <ul class="nav nav-pills flex-column menubar">
        <li class="nav-item">
            <a class="nav-link {{active currentPage 'nyheter'}}" href="/" data-navigo>Nyheter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{active currentPage 'schema'}}" href="/schema" data-navigo>Schema</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{active currentPage 'profiler'}}" href="/profiler" data-navigo>Profiler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{active currentPage 'media'}}" href="/media" data-navigo>Bilder och videor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{active currentPage 'blandaren'}}" href="/blandaren" data-navigo>Bländaren</a>
        </li>
    </ul>

    <div style="flex-grow: 1;"></div>

    <div class="row">
        <div class="col-sm">
            <img class="instagram-logo" src="/images/instagram.png"/>
            <ul class="links-instagram">
                <li>
                    <a target="_blank" href="https://www.instagram.com/ofverphoseriet/" class="text-primary">ofverphoseriet</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/kphgram/" class="text-primary">kphgram</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/kennystarrfighter/" class="text-primary">kennystarrfighter</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/inphogram/" class="text-primary">inphogram</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/vraqueogram/" class="text-primary">vraqueogram</a>
                </li>
            </ul>
        </div>

        <div class="col-sm">
            <img class="snapchat-logo" src="/images/snapchat-black.png"/>
            <ul class="links-snapchat">
                <li>
                    <a id="snapcode-link-kph" class="text-primary">kphsnap</a>
                </li>
                <li>
                    <a id="snapcode-link-arr" class="text-primary">arrsnap</a>
                </li>
                <li>
                    <a id="snapcode-link-inpho" class="text-primary">inphosnap</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/js/snapmodal.js"></script>
